/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Corpo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #000000, #000000);
    background-color: #000000;
}

/* Container do login */
.container {
    background: #fd0000;
    padding: 22px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Título */
h2 {
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


/* Grupo de inputs */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

/* Label */
.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Input */
.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botão */
button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #f81717;
    color: rgb(3, 0, 0);
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-family:Impact, Arial, Helvetica, sans-serif;
}

button:hover {
    background: #2980b9;
}
